* {
    border: none;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    color :#F1F1F3;
    /* color :#0E1316; */
}

window#waybar {
    background: transparent;
}

#workspaces button {
    padding: 5px;
    color: #161817;
    margin-right: 5px;
}

#workspaces button.active {
        color : #5B5D5C;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#custom-power,
#custom-btop,
#bluetooth,
#custom-notification,
#backlight {
    /* background: #1e1e2e; */
    padding: 0px 10px;
    margin: 0px 5px;
}
#backlight {
        padding : 0px;
margin : 0px;
}


#workspaces {
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}


#window {
    margin-left: 60px;
    margin-right: 60px;
}



#battery.charging {
    color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
