* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    color :#F1F1F3;
}

window#waybar {
    background: transparent;
    border-radius: 5px ; 
    padding-right: 20px;
    border: 1px solid #1b1b1b; 
    /* border: 1px solid #151314;  */
    }

#workspaces button {
    padding: 5px;
    color: #161817;
    margin-right: 5px;
}

#workspaces button.active {
        color : #5B5D5C;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#custom-power,
#custom-btop,
#custom-notification,
#btop,
#power,
#notification,
#backlight {
    /* background: #1e1e2e; */
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    /* border: 1px solid #181825; */
}

#backlight, #custom-btop {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    border-radius: 10px 0px 0px 10px;

}

#pulseaudio {
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone , #custom-power{
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}


/* * { */
/*     border: none; */
/*     border-radius: 0; */
/*     font-family: FiraCodeNerdFont; */
/*     font-size: 14px; */
/*     min-height: 0; */
/*     padding : 2px; */
/* } */
/**/
/* window#waybar { */
/**/
/*     background: rgba(8,8,8, 0.50); */
/*     border-radius: 5px ; */
/*     padding-right: 20px; */
/*     border: 1px solid #514A7B; */
/* } */
/**/
/* tooltip { */
/*   background: rgba(43, 48, 59, 0.5); */
/*   border: 1px solid rgba(100, 114, 125, 0.5); */
/* } */
/**/
/* tooltip label { */
/*   color: white; */
/* } */
/**/
/* #workspaces button { */
/*     padding: 0 5px; */
/*     background: transparent; */
/*     color: white; */
/*     border-bottom: 3px solid transparent; */
/* } */
/**/
/* #workspaces button.active { */
/*     background: #272840;  */
/* } */
/* #workspaces button.focused { */
/*     background: #272840; */
/*     border-bottom: 3px solid white; */
/* } */
/**/
/* #mode, #clock, #battery { */
/*     padding: 0 10px; */
/*     background:transparent; */
/* } */
/**/
/* #mode { */
/*     background:  #272840 ; */
/*     border-bottom: 3px solid white; */
/* } */
/**/
/**/
/**/
/* #battery.charging { */
/*     color: #26A65B; */
/* } */
/**/
/* @keyframes blink { */
/*     to { */
/*         background-color: #ffffff; */
/*         color: black; */
/*     } */
/* } */
/**/
/* #battery.warning:not(.charging) { */
/*     background: #f53c3c; */
/*     color: white; */
/*     animation-name: blink; */
/*     animation-duration: 0.5s; */
/*     animation-timing-function: steps(12); */
/*     animation-iteration-count: infinite; */
/*     animation-direction: alternate; */
/* } */
