* {
    border: none;
    border-radius: 0;
    font-family: FiraCodeNerdFont;
    font-size: 14px;
    min-height: 0;
    padding : 2px;
}

window#waybar {

    background: rgba(8,8,8, 0.50);
    border-radius: 5px ;
    padding-right: 20px;
    border: 1px solid #514A7B;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    background: #272840; 
}
#workspaces button.focused {
    background: #272840;
    border-bottom: 3px solid white;
}

#mode, #clock, #battery {
    padding: 0 10px;
    background:transparent;
}

#mode {
    background:  #272840 ;
    border-bottom: 3px solid white;
}



#battery.charging {
    color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
