* {
    font-family: FiraCode Nerd Font, Symbols Nerd Font;
    font-size: 24px;
    transition-property: background-color;
    transition-duration: 0.7s;
}

window {
    background-color: rgba( 1 , 1 , 1 , 0.55);
}

button {
    background-color: rgba(41 , 43 , 42 , 0.65);
    border-style: solid;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    margin: 15px;
}

button:active,
button:hover {
    background-color: rgba(49,51,50,0.65);
}

button:focus {
    background-color: rgba(49,51,50,0.65);
}
#lock {
    background-image: image(url("/home/henrique/assets/wlogout/assets/lock.svg"), url("/usr/local/share/wlogout/icons/lock.png"));
}
#logout{
    background-image: image(url("/home/henrique/assets/wlogout/assets/logout.svg"), url("/usr/local/share/wlogout/icons/logout.png"));
}
#suspend {
    background-image: image(url("/home/henrique/assets/wlogout/assets/moon.svg"), url("/usr/local/share/wlogout/icons/suspend.png"));
}


#shutdown{
    background-image: image(url("/home/henrique/assets/wlogout/assets/power.svg"), url("/usr/local/share/wlogout/icons/shutdown.png")); 
}

#reboot{
    background-image: image(url("/home/henrique/assets/wlogout/assets/reboot.svg"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

#exit {
    background-image: image(url("/home/henrique/assets/wlogout/assets/exit.svg"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

